.virtual-list {
  &.outerElement {
    position: relative;
    overflow: auto;
    overflow-anchor: none;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
  }

  &.resizer {
    overflow: visible;
    height: 0;
  }
}
